{# Panel: Hero #}
<section {{ classes }} {{ attrs }}>
	<div {{ container_classes }}>

		<div {{ media_classes }}>
			{{ media }}
		</div>

		<div {{ content_classes }}>
			{{ content }}
		</div>

	</div>
</section>
