{# Panel: Hero #}

<section {{ classes }}>

	{{ image }}

	<div {{ wrapper_classes }}>

		<div {{ layout_classes }}>

			<div class="s-sink t-sink {{ text_color }}">

				{% if title or content %}
					<header {{ header_classes }}>
						{{ title }}
						{{ content }}
					</header>
				{% endif %}

			</div>

		</div>

	</div>

</section>
