<footer class="site-footer">

	<div class="l-container">

		{{ navigation }}

		{{ include( 'components/follow/follow.twig' ) }}

		<p>
			{{ copyright }}
			<a href="{{ home_url|esc_url }}" rel="external">
				{{ name }}
			</a>
		</p>

	</div>

</footer>
