<footer class="site-footer">

	<div class="l-wrapper">

		{{ include( 'content/navigation/footer.twig' ) }}

		{{ include( 'components/social/follow.twig' ) }}

		<p>
			{{ copyright }}
			<a href="{{ home_url|esc_url }}" rel="external">
				{{ bloginfo( 'name' ) }}
			</a>
		</p>

	</div>

</footer>
