{# Component: Pagination #}

<nav class="{{ wrapper_classes }}" {{ wrapper_attrs }}>

	<ul class="{{ list_classes }}" {{ list_attrs }}>

		{% if first_post %}
			<li class="{{ list_item_classes }}" {{ list_item_attrs }}>
				{{ first_post }}
			</li>
		{% endif %}

		{% if prev_post %}
			<li class="{{ list_item_classes }}" {{ list_item_attrs }}>
				{{ prev_post }}
			</li>
		{% endif %}

		{% if pagination_numbers %}
			{% for number in pagination_numbers %}
				<li class="{{ list_item_classes }}" {{ list_item_attrs }}>
					{{ number }}
				</li>
			{% endfor %}
		{% endif %}

		{% if next_post %}
			<li class="{{ list_item_classes }}" {{ list_item_attrs }}>
				{{ next_post }}
			</li>
		{% endif %}

		{% if last_post %}
			<li class="{{ list_item_classes }}" {{ list_item_attrs }}>
				{{ last_post }}
			</li>
		{% endif %}

	</ul>

</nav>