{# Component: Accordion #}

<div
	class="{{ accordion_classes }}"
	role="tablist"
	aria-multiselectable="true"
	{{ accordion_attrs }}
>
	{% for row in rows %}
		<article class="{{ accordion_row_classes }}">
			<button
				aria-controls="{{ row.content_id|esc_attr }}"
				aria-expanded="false"
				aria-selected="false"
				class="{{ accordion_row_header_classes }}"
				id="{{ row.header_id|esc_attr }}"
				role="tab"
			>
				<span class="{{ accordion_row_header_inner_classes }}">{{ row.header_text }}</span>
			</button>
			<div
				aria-hidden="true"
				aria-labelledby="{{ row.header_id|esc_attr }}"
				class="{{ accordion_row_content_classes }}"
				id="{{ row.content_id|esc_attr }}"
				role="tabpanel"
			>
				<div class="{{ accordion_row_content_inner_classes }}">
					{{ row.content }}
				</div>
			</div>
		</article>
	{% endfor %}
</div>
