{# Component: Accordion #}

<div
	class="c-accordion"
	role="tablist"
	aria-multiselectable="true"
	data-js="c-accordion"
>
	{% for row in rows %}
		<article class="accordion__row">
			<button
				aria-controls="{{ row.content_id|esc_attr }}"
				aria-expanded="false"
				aria-selected="false"
				class="c-accordion__header"
				id="{{ row.header_id|esc_attr }}"
				role="tab"
			>
				<span class="c-accordion__header-inner">{{ row.header_text }}</span>
			</button>
			<div
				aria-hidden="true"
				aria-labelledby="{{ row.header_id|esc_attr }}"
				class="c-accordion__content"
				id="{{ row.content_id|esc_attr }}"
				role="tabpanel"
			>
				<div class="c-accordion__content-inner">
					{{ row.content }}
				</div>
			</div>
		</article>
	{% endfor %}
</div>
