{#

Component: Button

Description: Use this wherever you need a link styled as a button or a standard button element.

Attributes:
	{
        btn_as_link: true, // true/false. use link tag? Defaults to button
        btn_attrs: 'data-js="nav-trigger" aria-controls="etc"', // string. data atts, aria etc
        btn_classes: 'btn--large icon icon-checkmark icon--after', // string. additional classes for the button, icon classes etc
		btn_label: 'Click Here', // string. the button text
		btn_target: '_blank' // string. if type is link you can pass in target
		btn_type: 'submit' // string. if tag is button, you can set type
		btn_url: 'http://google.com' // string. if type is link you can set url
    }
 #}

<{{ tag }} class="{{ classes }}" type="{{ type }}" href="{{ url }}" target="{{ target }}" {{ attrs }}>
	{% if label is not empty %}
		<span class="btn__text">{{ label }}</span>
	{% endif %}
</{{ tag }}>