{#

Component: Button

Description: Use this wherever you need a link styled as a button or a standard button element.

Attributes:
	{
        as_link: true, // true/false. use link tag? Defaults to button
        btn_attrs: 'data-js="nav-trigger" aria-controls="etc"', // string. data atts, aria etc
        btn_classes: 'btn--large icon icon-checkmark icon--after', // string. additional classes for the button, icon classes etc
		label: 'Click Here', // string. the button text
		target: '_blank' // string. if type is link you can pass in target
		type: 'submit' // string. if tag is button, you can set type
		url: 'http://google.com' // string. if type is link you can set url
    }
 #}

<{% if as_link %}a{% else %}button{% endif %}
	class="btn {{ btn_classes }}"
	{% if type %}type="{{ type }}"{% endif %}
	{% if url %}href="{{ url }}"{% endif %}
	{% if target %}target="{{ target }}"{% endif %}
	{{ btn_attrs }}
>
	<span class="btn__text">{{ label }}</span>
</{% if as_link %}a{% else %}button{% endif %}>
