{# Component: Card #}

<div class="{{ card_classes }}">

	{% if image %}
		<header class="{{ card_header_classes }}">
			{{ image }}
		</header>
	{% endif %}

	<div class="{{ card_content_classes }}">

		{% if title %}
			{% include('components/title.twig') %}
		{% endif %}

		{% if description %}
			{{ description }}
		{% endif %}

		{% if button is not empty %}
			{{ button }}
		{% endif %}

	</div>
</div>
