{# Component: Card #}

<div class="{{ card_classes }}">

	{% if image %}
		<header class="{{ card_header_classes }}">
			{{ image }}
		</header>
	{% endif %}

	<div class="{{ card_content_classes }}">

		{% if title %}
			{{ title }}
		{% endif %}

		{% if text %}
			{{ text }}
		{% endif %}

		{% if button %}
			{{ button }}
		{% endif %}

	</div>
</div>
