{#

Component: Dialog / Popup

Documentation: docs\theme\components\dialog.md

NPM link: https://www.npmjs.com/package/mt-a11y-dialog

Controller: wp-content\plugins\core\src\Templates\Components\Dialog.php
PostCSS: wp-content\plugins\core\assets\theme\pcss\components\_dialog.pcss

Description: ...

Attributes:
	{
		content: 'c-lightbox', // { string }
		header_content: header content // { string }
		content_header_classes: header classes // { string }
		content_overlay_classes: overlay classes // { string }
		content_overlay_wrapper_classes: overlay wrapper classes // { string }
		content_overlay_wrapper_inner: overlay wrapper inner classes // { string }
		dialog_attr: a list of attributes in key value pairs. { array }
    }
 #}

{% if content %}
    <script {{ dialog_attr }} type="text/template" >
        <div class="{{ content_overlay_classes }}">
            <div class="{{ content_overlay_inner_classes }}">
                <div class="{{ content_header_classes }}">
                    {{ header_content }}
                </div>
                <div class="{{ content_wrapper_classes }}">
                    <div class="{{ content_inner_classes }}">
                         {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </script>
{% endif %}
