<aside class="social-follow">

	<ul class="social-follow__list">
		{% for key, social_item in social_follow %}
			<li class="social-follow__item social-follow__item--{{ key }}">
				<a href="{{ social_item.url }}" class="social-follow__anchor" rel="me noopener"
				   title="{{ social_item.title }}" target="_blank">
					{{ social_item.icon }}
					{{ social_item.label }}
				</a>
			</li>
		{% endfor %}

	</ul>

</aside>
