<aside class="social-follow">

	<ul class="social-follow__list">

		<li class="social-follow__item">
			<a href="https://twitter.com/#" class="social-follow__anchor" rel="me noopener" title="{{ __( 'Follow us on Twitter' )|esc_html }}" target="_blank">
				<i class="icon icon-twitter"></i>
				<span class="u-visual-hide">{{ __( 'Follow us on Twitter' )|esc_html }}</span>
			</a>
		</li>

		<li class="social-follow__item">
			<a href="https://www.facebook.com/#" class="social-follow__anchor" rel="me noopener" title="{{ __( 'Follow us on Facebook' )|esc_html }}" target="_blank">
				<i class="icon icon-facebook"></i>
				<span class="u-visual-hide">{{ __( 'Follow us on Facebook' )|esc_html }}</span>
			</a>
		</li>

		<li class="social-follow__item">
			<a href="https://www.instagram.com/#" class="social-follow__anchor" rel="me noopener" title="{{ __( 'Follow us on Instagram' )|esc_html }}" target="_blank">
				<i class="icon icon-instagram"></i>
				<span class="u-visual-hide">{{ __( 'Follow us on Instagram' )|esc_html }}</span>
			</a>
		</li>

		<li class="social-follow__item">
			<a href="https://www.pinterest.com/#" class="social-follow__anchor" rel="me noopener" title="{{ __( 'Follow us on Pinterest' )|esc_html }}" target="_blank">
				<i class="icon icon-pinterest"></i>
				<span class="u-visual-hide">{{ __( 'Follow us on Pinterest' )|esc_html }}</span>
			</a>
		</li>

		<li class="social-follow__item">
			<a href="https://plus.google.com/#" class="social-follow__anchor" rel="me noopener" title="{{ __( 'Follow us on Google+' )|esc_html }}" target="_blank">
				<i class="icon icon-google-plus"></i>
				<span class="u-visual-hide">{{ __( 'Follow us on Google +' )|esc_html }}</span>
			</a>
		</li>

		<li class="social-follow__item">
			<a href="https://www.youtube.com/user/#" class="social-follow__anchor" rel="me noopener" title="{{ __( 'Follow us on YouTube' )|esc_html }}" target="_blank">
				<i class="icon icon-youtube"></i>
				<span class="u-visual-hide">{{ __( 'Follow us on YouTube' )|esc_html }}</span>
			</a>
		</li>

		<li class="social-follow__item">
			<a href="https://www.linkedin.com/in/#" class="social-follow__anchor" rel="me noopener" title="{{ __( 'Follow us on LinkedIn' )|esc_html }}" target="_blank">
				<i class="icon icon-linkedin"></i>
				<span class="u-visual-hide">{{ __( 'Follow us on LinkedIn' )|esc_html }}</span>
			</a>
		</li>

	</ul>

</aside>
