{# Component: Image #}

<div {% if component_classes %}class="{{ component_classes }}"{% endif %}>
	{% if wrapper is not empty %}
	<{{ wrapper.tag }} {{ wrapper.attributes }} class="{{ wrapper.class }}">
	{% endif %}

		{% if link is not empty %}
		<a href="{{ link.url }}" target="{{ link.target }}" title="{{ link.title }}" class="{{ link.class }}" {{ link.rel }}>
		{% endif %}

		{% if img is not empty %}
		<img class="{{ img.class }}" {{ img.attributes }} />
		{% endif %}

		{% if link is not empty %}
		</a>
		{% endif %}

		{{ html }}

	{% if wrapper is not empty %}
	</{{ wrapper.tag }}>
	{% endif %}
</div>
