{# Component: Search #}

<form class="{{ form_classes }}" {{ form_attrs }}>

	<label class="{{ label_classes }}" {{ label_attrs }}>{{ label_text }}</label>
	<input class="{{ input_classes }}" {{ input_attrs }} />
	{{ submit_button }}

</form>
