{#

Component: Slider

Description: Use this wherever you need a slider with carousel or not.

Attributes:
	{
        show_carousel: true, // true/false. show carousel
        show_arrows: true, // true/false. show carousel
        slides: [], // array. slide html
        thumbnails: [], // array. thumb html
    }
 #}

<div class="{{ slider_classes }}">
	<div class="{{ slider_main_classes }}" {{ slider_main_attrs }}>
		<div class="{{ slider_main_wrapper_classes }}">
			{% for slide in slides %}
				<div class="{{ slider_main_slide_classes }}">
					{{ slide }}
				</div>
			{% endfor %}
		</div>
		{% if show_arrows %}
			<div class="c-slider__button c-slider__button--next swiper-button-next"></div>
			<div class="c-slider__button c-slider__button--prev swiper-button-prev"></div>
		{% endif %}
	</div>
	{% if show_carousel %}
		<div class="c-slider__carousel swiper-container" data-js="c-slider-carousel">
			<div class="swiper-wrapper">
				{% for thumbnail in thumbnails %}
					<button class="c-slider__thumbnail swiper-slide" data-js="c-slider-thumb-trigger" data-index="{{ loop.index0 }}">
						{{ thumbnail }}
					</button>
				{% endfor %}
			</div>
		</div>
	{% endif %}
</div>
