{#

Component: Slider

Description: Use this wherever you need a slider with carousel or not.

Attributes:
	{
		classes: '', // { string }
        show_carousel: true, // { bool }. show carousel
        show_arrows: true, // { bool }. show carousel
        show_pagination: false, // { bool }. show the pagination dots
        slides: [], // { array } slide html
        thumbnails: [], // { array } thumb html
    }
 #}

<div class="{{ classes }}">
	<div class="{{ main_classes }}" {{ main_attrs }}>
		<div class="{{ wrapper_classes }}">
			{% for slide in slides %}
				<div class="{{ slide_classes }}">
					{{ slide }}
				</div>
			{% endfor %}
		</div>
		{% if show_arrows %}
			<div class="c-slider__button c-slider__button--next swiper-button-next"></div>
			<div class="c-slider__button c-slider__button--prev swiper-button-prev"></div>
		{% endif %}
		{% if show_pagination %}
			<div class="c-slider__pagination swiper-pagination" data-js="c-slider-pagination"></div>
		{% endif %}
	</div>
	{% if show_carousel %}
		<div class="c-slider__carousel swiper-container" {{ carousel_attrs }}>
			<div class="swiper-wrapper">
				{% for thumbnail in thumbnails %}
					<button class="c-slider__thumbnail swiper-slide" data-js="c-slider-thumb-trigger" data-index="{{ loop.index0 }}">
						{{ thumbnail }}
					</button>
				{% endfor %}
			</div>
		</div>
	{% endif %}
</div>
