{#

Component: Slider

Documentation: docs\theme\components\slider.md

Controller: wp-content\plugins\core\src\Templates\Components\Slider.php
Javascript: wp-content\plugins\core\assets\theme\js\src\components\slider.js
PostCSS: wp-content\plugins\core\assets\theme\pcss\components\slider.pcss

Description: Use this wherever you need a slider with carousel or not.

Attributes:
	{
        carousel_attrs: 'data-js="c-slider-carousel"', // { string } the carousel sliders data attributes
		container_classes: 'c-slider', // { string } outer wrapper classes
		main_attrs: 'data-js="c-slider"', // { string } the main sliders data attributes
		main_classes: 'c-slider__main swiper-container', // { string } the main slider classes. modified based on show_carousel, show_arrows and show_pagination args in controller as well
		show_arrows: true, // { bool }. show arrows on main slider
        show_carousel: true, // { bool }. show carousel
        show_pagination: false, // { bool }. show the pagination bullets
        slides: [], // { array } slide html, images, what have you
		slide_classes: 'c-slider__slide swiper-slide', // { string } the main sliders slide classes
		thumbnails: [], // { array } thumb html
		wrapper_classes: 'c-slider__wrapper swiper-wrapper', // { string } the main sliders slide wrapper classes
    }
 #}

<div class="{{ container_classes }}">
	<div class="{{ main_classes }}" {{ main_attrs }}>
		<div class="{{ wrapper_classes }}">
			{% for slide in slides %}
				<div class="{{ slide_classes }}">
					{{ slide }}
				</div>
			{% endfor %}
		</div>
	</div>
	{% if show_carousel %}
		<div class="c-slider__carousel swiper-container" {{ carousel_attrs }}>
			<div class="swiper-wrapper">
				{% for thumbnail in thumbnails %}
					<button class="c-slider__thumbnail swiper-slide" data-js="c-slider-thumb-trigger" data-index="{{ loop.index0 }}" aria-label="{{ __( 'Slide navigation for image' )|esc_html }} {{ loop.index }}">
						{{ thumbnail }}
					</button>
				{% endfor %}
			</div>
		</div>
	{% endif %}

	{% if show_arrows %}
		<div class="c-slider__arrows">
			<div class="c-slider__button c-slider__button--prev swiper-button-prev"></div>
			<div class="c-slider__button c-slider__button--next swiper-button-next"></div>
		</div>
	{% endif %}
	{% if show_pagination %}
		<div class="c-slider__pagination swiper-pagination" data-js="c-slider-pagination"></div>
	{% endif %}
</div>
