{# Component: Text #}

<div class="c-text">

	{{ title }}

	{% if content is not empty %}
		<div class="c-text__desc t-content" {{ content_attr }}>
			{{ content }}
		</div>
	{% endif %}

	{% if cta is not empty %}
		<a href="{{ cta.url|esc_url }}"
		   class="cta"
		   target="{{ cta.target|esc_attr }}">
			{{ cta.label }}
		</a>
	{% endif %}
</div>
