{# Component: Video #}

<div
		class="{{ container_classes }}"
		{{ container_attrs }}
		data-id="{{ id }}"
>
	<div class="{{ container_wrap_classes }}">
		<figure class="{{ embed_classes }}">
			<a
					href="{{ video_url|esc_url }}"
					class="c-video__trigger"
					data-js="c-video-trigger"
					title="{{ title|esc_html }}"
					target="_blank"
					rel="noopener"
					aria-label="{{ __( 'Click to Play Video' )|esc_html }}"
			>
				<img
						class="c-video__image lazyload"
						src="{{ shim|esc_url }}"
						data-src="{{ thumbnail_url|esc_url }}"
						role="presentation"
				/>
				{% if caption_position == 'below' %}
					<div class="c-video__trigger-action">
						<i class="c-video__icon icon icon-play" aria-hidden="true"></i>
					</div>
				{% else %}
					<figcaption class="c-video__caption">
						<i class="c-video__icon icon icon-play" aria-hidden="true"></i>
						<span class="c-video__caption-text">{{ play_text|esc_html }}</span>
					</figcaption>
				{% endif %}
			</a>
		</figure>
		{% if caption_position == 'below' %}
			<div class="c-video__caption">
				<div class="c-video__caption-title">{{ play_text|esc_html }}</div>
			</div>
		{% endif %}
	</div>
</div>
