{#% extends "base.twig" %#}
{% block header %}
	{{ header }}
{% endblock %}

<a id="a11y-skip-link-content" tabindex="-1"></a>

<main>
{% block main %}

	{% block subhead %}
		{{ subheader }}
	{% endblock %}

	<div class="l-container">

		{% if posts|length > 0 %}

			{% for post in posts %}
				{{ post }}
			{% endfor %}

			{% if pagination %}
				{{ pagination }}
			{% endif %}

		{% else %}

			{{ include( 'components/no-results.twig' ) }}

		{% endif %}

	</div>

{% endblock %}


</main>

{% block sidebar %}{% endblock %}

{% block footer %}
	{{ footer }}
{% endblock %}
