{% extends "base.twig" %}

{% block main %}

	{% block subhead %}
		{{ include( 'content/hero/default.twig' ) }}
	{% endblock %}

	{% block content %}
		{% if post.content %}
			<div class="l-wrapper">
				{{ include( 'content/page/default.twig' ) }}
			</div>
		{% endif %}

		{{ do_action( 'the_panels' ) }}
	{% endblock %}

	{{ comments }}

{% endblock %}

{% block sidebar %}
	{{ include( 'sidebar.twig' ) }}
{% endblock %}