{#% extends "base.twig" %#}
{% block header %}
	{{ header }}
{% endblock %}


<a id="a11y-skip-link-content" tabindex="-1"></a>

<main>
{% block main %}

	{% block subhead %}
		{{ subheader }}
	{% endblock %}

	{% block content %}
		{% if post.content %}
			<div class="l-container">
				{{ post.featured_image }}

				<div class="t-content">
					{{ post.content }}
				</div>
			</div>
		{% endif %}

		{{ do_action( 'the_panels' ) }}
	{% endblock %}

	{{ comments }}

{% endblock %}

{% block sidebar %}
	{{ sidebar }}
{% endblock %}

</main>

{% block footer %}
	{{ footer }}
{% endblock %}
