{% extends "base.twig" %}

{% block main %}

	{% block breadcrumbs %}
		{% if breadcrumbs %}
			{{ breadcrumbs }}
		{% endif %}
	{% endblock %}

	{% block content %}
		<div class="l-container">
			{{ include( 'content/single/post.twig') }}

			{{ include( 'content/pagination/single.twig') }}
		</div>

		{{ do_action( 'the_panels') }}
	{% endblock %}

	{{ comments }}


{% endblock %}
