{#% extends "base.twig" %#}
{% block header %}
	{{ header }}
{% endblock %}


<a id="a11y-skip-link-content" tabindex="-1"></a>

<main>
{% block main %}

	{% block breadcrumbs %}
		{% if breadcrumbs %}
			{{ breadcrumbs }}
		{% endif %}
	{% endblock %}

	{% block subhead %}
		{{ subheader }}
	{% endblock %}

	{% block content %}
		<div class="l-container">
			{{ content }}

			{{ pagination }}
		</div>

		{{ do_action( 'the_panels') }}
	{% endblock %}

	{{ comments }}


{% endblock %}

</main>

{% block sidebar %}{% endblock %}

{% block footer %}
	{{ footer }}
{% endblock %}
