<article class="item-single">

	{{ featured_image }}

	<div class="item-single__content t-content">
		{{ content }}
	</div>

	<footer class="item-single__footer">

		<ul class="item-single__meta">

			<li class="item-single__meta-date">
				<time datetime="{{ time['c']|esc_attr }}">
					{{ date|esc_html }}
				</time>
			</li>

			<li class="item-single__meta-author">
				{{ __('by')|esc_html }}
				<a href="{{ author.url|esc_url }}" rel="author">
					{{ author.name|esc_html }}
				</a>
			</li>

		</ul>

		{{ social_share }}

	</footer>

</article>
