{% if pagination.has_pagination %}

<nav class="pagination pagination--single" aria-labelledby="pagination__label-single">

	<h3 id="pagination__label-single" class="visual-hide">{{ lang['Post Pagination'] }}</h3>

	<ol class="pagination__list">

		{% if pagination.has_previous %}
			<li class="pagination__item pagination__item--next">
				<a href="{{ pagination.previous.permalink|esc_url }}" rel="prev">
					{{ pagination.previous.title|esc_html }}
				</a>
			</li>
		{% endif %}
		{% if pagination.has_next %}
			<li class="pagination__item pagination__item--previous">
				<a href="{{ pagination.next.permalink|esc_url }}" rel="next">
					{{ pagination.next.title|esc_html }}
				</a>
			</li>
		{% endif %}
	</ol>

</nav>

{% endif %}
