{# Block: Tabs #}
<section {{ classes|stringify }} {{ attrs|stringify }}>
	<div {{ container_classes|stringify }}>

		{{ component( 'content-block/Content_Block.php', header ) }}

		<div {{ content_classes|stringify }}>
			{{ component( 'tabs/Tabs.php', content ) }}
		</div>

	</div>
</section>
