<article class="item-loop item-loop--search item-loop--{{ post.post_type|esc_attr }}">

    <header class="item-loop__header">

        <h3 class="item-loop__title">
            <a href="{{ post.permalink|esc_url }}" rel="bookmark">
                {{ post.title }}
            </a>
        </h3>

    </header>

    {{ post.image }}

    {{ post.excerpt }}

</article>
