{# Component: Button with a wrapper element #}
{% if content %}
<{{ wrapper_tag }} {{ wrapper_classes|stringify }} {{ wrapper_attrs|stringify }}>
	<button {{ classes|stringify }} {{ attrs|stringify }}>
		{{ content }}
	</button>
</{{ wrapper_tag }}>
{% endif %}
