<!DOCTYPE html>
<html {{ language_attributes }}>
<head>

    <title>{{ lang['Unsupported Browser'] }} - {{ bloginfo( 'name' ) }}</title>

    {# // MISC Meta #}
    <meta charset="utf-8">
    <meta name="author" content="{{ bloginfo( 'name' )|esc_attr }}">
    <meta http-equiv="cleartype" content="on">
    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" href="{{ css|esc_url }}" type="text/css" media="all">
    <link rel="shortcut icon" href="{{ favicon|esc_url }}">

    {{ do_action( 'tribe/unsupported_browser/head') }}

</head>
<body>

    <div class="site-header">
        <div class="l-container">
            <h1 class="site-brand">
                <img src="{{ legacy_logo_header|esc_url }}"
                     class="site-logo site-logo--header"
                     alt="{{ bloginfo( 'name' )|esc_attr }}"/>
            </h1>
        </div>
    </div>

    <div class="site-content">
        <div class="l-container">

            {% if post.content %}
                <div class="site-content__content">
                    {{ post.content }}
                </div>
            {% endif %}

            <ul class="browser-list">
                <li class="browser-list__item">
                    <a href="http://www.google.com/chrome/"
                       class="browser-list__item-anchor"
                       rel="external"
                       target="_blank">
                           <span class="browser-list__item-image">
                               <img src="{{ legacy_browser_icon_chrome|esc_url }}"
                                    alt="{{ lang['Chrome browser logo'] }}"/>
                           </span>
                        {{ lang['Chrome'] }}
                    </a>
                </li>
                <li class="browser-list__item">
                    <a href="https://www.mozilla.org/firefox/new/"
                       class="browser-list__item-anchor"
                       rel="external"
                       target="_blank">
                           <span class="browser-list__item-image">
                               <img src="{{ legacy_browser_icon_firefox|esc_url }}"
                                    alt="{{ lang['Firefox browser logo'] }}"/>
                           </span>
                        {{ lang['Firefox'] }}
                    </a>
                </li>
                <li class="browser-list__item">
                    <a href="https://support.apple.com/downloads/#safari"
                       class="browser-list__item-anchor"
                       rel="external"
                       target="_blank">
                           <span class="browser-list__item-image">
                               <img src="{{ legacy_browser_icon_safari|esc_url }}"
                                    alt="{{ lang['Safari browser logo'] }}"/>
                           </span>
                        {{ lang['Safari'] }}
                    </a>
                </li>
                <li class="browser-list__item">
                    <a href="http://windows.microsoft.com/internet-explorer/download-ie"
                       class="browser-list__item-anchor"
                       rel="external"
                       target="_blank">
                           <span class="browser-list__item-image">
                               <img src="{{ legacy_browser_icon_ie|esc_url }}"
                                    alt="{{ lang['Internet Explorer browser logo'] }}"/>
                           </span>
                        {{ lang['Internet Explorer'] }}
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <div class="site-footer">
        <div class="l-container">

            <img src="{{ legacy_logo_footer|esc_url }}"
                 class="site-logo site-logo--footer"
                 alt="{{ bloginfo( 'name' )|esc_attr }}"/>

            <p class="site-footer__copy">{{ copyright }} {{ bloginfo( 'name' ) }}.</p>

        </div>
    </div>

</body>
</html>
