{# Component: Search #}

<form {{ form_classes }} {{ form_attrs }}>

	<label {{ label_classes }} {{ label_attrs }}>{{ label_text }}</label>
	<input {{ input_classes }} {{ input_attrs }} />
	{{ submit_button }}

</form>
