{% extends "/components/pages/base.twig" %}

{% block main %}

	{% block breadcrumbs %}
		{% if breadcrumbs %}
			{{ breadcrumbs }}
		{% endif %}
	{% endblock %}

	{% block subhead %}
		{{ subheader }}
	{% endblock %}

	{% block content %}
		<div class="l-container">
			{{ content }}

			{{ pagination }}
		</div>

		{{ do_action( 'the_panels') }}
	{% endblock %}

	{{ comments }}


{% endblock %}
