{# Panel: Media + Text #}
<section {{ classes|stringify }} {{ attrs|stringify }}>
	<div {{ container_classes|stringify }}>

		<div {{ media_classes|stringify }}>
			{% if media_type == 'image' %}
				{{ component( 'image/Image.php', media ) }}
			{% elseif media_type == 'embed' %}
				{{ component( 'text/Text.php', media ) }}
			{% endif %}
		</div>

		<div {{ content_classes|stringify }}>
			{{ component( 'content-block/Content_Block.php', content ) }}
		</div>

	</div>
</section>
