{# Panel: Links #}
<section {{ classes|stringify }} {{ attrs|stringify }}>
	<div {{ container_classes|stringify }}>

		{{ component( 'content-block/Content_Block.php', header ) }}

		<div {{ content_classes|stringify }}>
			{% for link in links %}
				<div class="links__row">
					{{ component( 'link/Link.php', link ) }}
				</div>
			{% endfor %}
		</div>

	</div>
</section>
