{# Component: Video #}

<{{ tag }} {{ classes }} {{ attrs }}>
	<a
		href="{{ video_url|esc_url }}"
		class="c-video__trigger"
		data-js="c-video-trigger"
		target="_blank"
		rel="noopener"
		aria-label="{{ __( 'Click to Play Video' )|esc_html }}"
	>
		<img
			class="c-video__thumbnail lazyload"
			src="{{ shim_url|esc_url }}"
			data-src="{{ thumbnail_url|esc_url }}"
			role="presentation"
			alt=""
		/>
		<span class="c-video__trigger-label">{{ trigger_label|esc_html }}</span>
	</a>

	{{ caption }}

</{{ tag }}>
