<li {{ attr }} {{ classes }}>
	<p>
		<strong>{{ label }}</strong>

		{{ author_link }}

		{% if edit_link %}
			<span class="comment__action-edit">
				{{ edit_link }}
			</span>
		{% endif %}
	</p>
</li>
