<article class="item-single">

	{{ post.featured_image }}

	<div class="item-single__content t-content">
		{{ post.content }}
	</div>

	<footer class="item-single__footer">

		<ul class="item-single__meta">

			<li class="item-single__meta-date">
				<time datetime="{{ post.time['c']|esc_attr }}">
					{{ post.date|esc_html }}
				</time>
			</li>

			<li class="item-single__meta-author">
				{{ __('by')|esc_html }}
				<a href="{{ post.author.url|esc_url }}" rel="author">
					{{ post.author.name|esc_html }}
				</a>
			</li>

		</ul>

		{{ include( 'components/share/share.twig' ) }}

	</footer>

</article>
