<article class="item-single">

	<div class="item-single__featured-image">{{ post.featured_image }}</div>

	<div class="l-container__stagger item-single__content">
		<h1 class="item-single__headline">{{ post.title }}</h1>
		<div class="item-single__meta">

			{% if post.categories %}
				<div class="item-single__meta__categories">
					<ul class="item-single__meta__categories__list">
						{% for category in post.categories %}
							<li class="item-single__meta__categories__list-item">
								<a class="item-single__meta__categories__category-link" href="{{ category.permalink }}">
									{{ category.name|esc_html }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}

			<div class="item-single__meta__date u-fc-nevada">
				<time datetime="{{ post.time['c']|esc_attr }}">
					{{ post.date|esc_html }}
				</time>
			</div>

		</div>
		<div class="t-content">
			{{ post.content }}
		</div>
		<footer class="item-single__footer">

			{{ include( 'components/share.twig' ) }}

		</footer>
	</div>

	<div class="item-single__related-posts">
		<hr class="item-single__related-posts__divider">
		<h2 class="item-single__related-posts__section-title">More Posts</h2>
		<div class="item-single__related-posts-wrapper">
			{% for related_post in related_posts %}
				<div class="item-single__related-post g-row">
					<div class="item-single__related-post__category-holder g-col g-col--one-sixth"></div>
					<div class="item-single__related-post__featured-image g-col g-col--one-third g-col-important">
						{{ related_post.featured_image }}
					</div>
					<div class="item-single__related-post__content g-col g-col--five-twelfth">
						<h3 class="item-single__related-post__title">
							<a href="{{ related_post.permalink }}">{{ related_post.title }}</a>
						</h3>
						<div class="item-single__related-post__meta">
							<div class="item-single__related-post__meta-categories">
								<a class="item-single__related-post__meta-categories__link" href="{{ related_post.categories[0].permalink|esc_attr }}">
									{{ related_post.categories[0].name|esc_html }}
								</a>
							</div>
							<div class="item-single__related-post__meta-date u-fc-nevada">
								<time datetime="{{ related_post.time['c']|esc_attr }}">
									{{ related_post.date|esc_html }}
								</time>
							</div>
						</div>
						<div class="t-content item-single__related-post__body">{{ related_post.excerpt }}</div>
					</div>
				</div>
				<hr class="item-single__related-post__divider">
			{% endfor %}
		</div>
	</div>

</article>
