<article class="item-single">

	<div class="item-single__featured-image">{{ post.featured_image }}</div>

	<div class="l-container__stagger item-single__content">
		<h1>{{ post.title }}</h1>
		<div class="item-single__meta">

			{% if post.categories %}
				<div class="item-single__meta-categories">
					<ul>
						{% for category in post.categories %}
							<li><a class="anchor" href="#">{{ category.name|esc_html }}</a></li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}

			<div class="item-single__meta-date u-fc-nevada">
				<time datetime="{{ post.time['c']|esc_attr }}">
					{{ post.date|esc_html }}
				</time>
			</div>

		</div>
		<div class="t-content">
			{{ post.content }}
		</div>
		<footer class="item-single__footer">

			{{ include( 'components/share.twig' ) }}

		</footer>
	</div>

</article>
