<aside class="c-social-follow">

	<ul class="c-social-follow__list">

		<li class="c-social-follow__item">
			<a href="https://twitter.com/#" class="c-social-follow__anchor" rel="me" title="{{ lang[ 'Follow us on Twitter' ]|esc_html }}" target="_blank">
				<i class="icon icon-twitter"></i>
				<span class="u-visual-hide">{{ lang[ 'Follow us on Twitter' ]|esc_html }}</span>
			</a>
		</li>

		<li class="c-social-follow__item">
			<a href="https://www.facebook.com/#" class="c-social-follow__anchor" rel="me" title="{{ lang[ 'Follow us on Facebook' ]|esc_html }}" target="_blank">
				<i class="icon icon-facebook"></i>
				<span class="u-visual-hide">{{ lang[ 'Follow us on Facebook' ]|esc_html }}</span>
			</a>
		</li>

		<li class="c-social-follow__item">
			<a href="https://www.instagram.com/#" class="c-social-follow__anchor" rel="me" title="{{ lang[ 'Follow us on Instagram' ]|esc_html }}" target="_blank">
				<i class="icon icon-instagram"></i>
				<span class="u-visual-hide">{{ lang[ 'Follow us on Instagram' ]|esc_html }}</span>
			</a>
		</li>

		<li class="c-social-follow__item">
			<a href="https://www.pinterest.com/#" class="c-social-follow__anchor" rel="me" title="{{ lang[ 'Follow us on Pinterest' ]|esc_html }}" target="_blank">
				<i class="icon icon-pinterest"></i>
				<span class="u-visual-hide">{{ lang[ 'Follow us on Pinterest' ]|esc_html }}</span>
			</a>
		</li>

		<li class="c-social-follow__item">
			<a href="https://plus.google.com/#" class="c-social-follow__anchor" rel="me" title="{{ lang[ 'Follow us on Google+' ]|esc_html }}" target="_blank">
				<i class="icon icon-google-plus"></i>
				<span class="u-visual-hide">{{ lang[ 'Follow us on Google +' ]|esc_html }}</span>
			</a>
		</li>

		<li class="c-social-follow__item">
			<a href="https://www.youtube.com/user/#" class="c-social-follow__anchor" rel="me" title="{{ lang[ 'Follow us on YouTube' ]|esc_html }}" target="_blank">
				<i class="icon icon-youtube"></i>
				<span class="u-visual-hide">{{ lang[ 'Follow us on YouTube' ]|esc_html }}</span>
			</a>
		</li>

		<li class="c-social-follow__item">
			<a href="https://www.linkedin.com/in/#" class="c-social-follow__anchor" rel="me" title="{{ lang[ 'Follow us on LinkedIn' ]|esc_html }}" target="_blank">
				<i class="icon icon-linkedin"></i>
				<span class="u-visual-hide">{{ lang[ 'Follow us on LinkedIn' ]|esc_html }}</span>
			</a>
		</li>

	</ul>

</aside>
