{# Component: Breadcrumbs #}

<div {{ wrapper_classes }} {{ wrapper_attrs }}>
	<ul {{ main_classes }}>

		{% for item in items %}
			<li {{ item_classes }}>
				<a href="{{ item.url }}" {{ link_classes }} {{ link_attrs }}>
					{{ item.label }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
