<div {{ wrapper_classes|stringify }} {{ wrapper_attrs|stringify }}>
    <ul {{ main_classes|stringify }}>

        {% for item in items %}
            <li {{ item_classes|stringify }}>
                <a href="{{ item.url }}" {{ link_classes|stringify }} {{ link_attrs|stringify }}>
                    {{ item.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
