{# Component: Content Block #}

<{{ tag }} {{ classes }} {{ attrs }}>
	<div {{ container_classes }}>

		{% if leadin %}
			{{ leadin }}
		{% endif %}

		{% if title %}
			{{ title }}
		{% endif %}

		{% if text %}
			{{ text }}
		{% endif %}

		{% if action %}
			{{ action }}
		{% endif %}

	</div>
</{{ tag }}>
