<li {{ attr }} class="{{ classes }}">

	<header class="comment__header">

		{{ gravatar }}


		<h5 class="comment__title" rel="author">
			<cite>{{ author }}</cite>
		</h5>

		<time class="comment__time" datetime="{{ time['c'] }}">
			{{ time['g:i A - M j, Y'] }}
		</time>

	</header><!-- .comment-header -->

	<div class="comment__text">

		{% if edit_link %}
			<p class="comment__action-edit">
				{{ edit_link }}
			</p>
		{% endif %}

		{{ comment_text }}

	</div><!-- .comment-text -->

	{% if moderation_message %}
		<p class="comment__message-moderation">
			{{ moderation_message }}
		</p>
	{% endif %}

	{% if reply_link %}
		<p class="comment__action-reply">
			{{ reply_link }}
		</p>
	{% endif %}

</li>
