<div {{ container_classes|stringify }}>
    <div {{ main_classes|stringify }} {{ main_attrs|stringify }}>
        <div {{ wrapper_classes|stringify }}>
            {% for slide in slides %}
                <div {{ slide_classes|stringify }}>
                    {{ slide }}
                </div>
            {% endfor %}
        </div>
        {% if show_arrows %}
            <div class="c-slider__arrows">
                <div class="c-slider__button c-slider__button--prev swiper-button-prev"></div>
                <div class="c-slider__button c-slider__button--next swiper-button-next"></div>
            </div>
        {% endif %}
        {% if show_pagination %}
            <div class="c-slider__pagination swiper-pagination" data-js="c-slider-pagination"></div>
        {% endif %}
    </div>
    {% if show_carousel %}
        <div class="c-slider__carousel swiper-container" {{ carousel_attrs|stringify }}>
            <div class="swiper-wrapper">
                {% for thumbnail in thumbnails %}
                    <button class="c-slider__thumbnail swiper-slide" data-js="c-slider-thumb-trigger" data-index="{{ loop.index0 }}"
                            aria-label="{{ __( 'Slide navigation for image' )|esc_html }} {{ loop.index }}">
                        {{ thumbnail }}
                    </button>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
