{# Panel: Accordion #}

{% extends "content/panels/panel.twig" %}

{% block content %}

	<div class="site-section__content">
		<div class="site-grid">
			<div class="site-grid__wrapper">
				<div class="{{ grid_classes }}"
				     data-depth="0"
				     data-name="accordions"
				     data-livetext>
					{% if layout == 'left' %}
						<div class="site-grid__col">
							{{ accordion }}
						</div>
						<div
							class="site-grid__col"
							data-depth="0"
							data-name="content"
							data-autop="true"
							data-livetext
						>
							{{ content }}
						</div>
					{% else %}
						<div
							class="site-grid__col"
							data-depth="0"
							data-name="content"
							data-autop="true"
							data-livetext
						>
							{{ content }}
						</div>
						<div class="site-grid__col">
							{{ accordion }}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}