{# Panel: Gallery #}

{% extends "content/panels/panel.twig" %}

{% block header %}{% endblock %}

{% block content %}

	<div class="s-content">
		<div class="g-row {{ content_layout }}">
			<div class="g-col">
				{% if title or description %}
					<div class="t-content site-panel--gallery__content">

						{{ title }}

						{% block description %}
							{{ description }}
						{% endblock %}

						{{ button }}

					</div>
				{% endif %}
			</div>
			<div class="g-col">
				<div class="g-row {{ columns }}">
					{% if gallery_images %}
						{% for img in gallery_images %}
							<div class="g-col">
								{{ img }}
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	{{ dialog }}

{% endblock %}
