{# Panel: Image + Text #}

{% extends "content/panels/panel.twig" %}

{% block start %}
<section class="panel s-wrapper s-wrapper--no-padding site-panel site-panel--{{ type|esc_attr }}"
		 data-index="{{ index }}"
		 data-js="panel"
		 data-type="{{ type|esc_attr }}"
		 data-modular-content>
    {% endblock %}

{% block wrapper_start %}{% endblock %}

	{% block header %}{% endblock %}

	{% block content %}

		<div class="g-row g-row--no-gutters g-row--col-2--min-full {{ wrapper_classes }}">

			<div class="g-col">
				{{ image }}
			</div>

			<div class="g-col g-col--vertical-center">
				<div class="t-content site-panel__imgtxt-content">
					{{ content_block }}
				</div>
			</div>

		</div>

	{% endblock %}

{% block wrapper_end %}{% endblock %}
