{# Panel: Media + Text #}

{% extends "content/panels/panel.twig" %}

{% block header %}{% endblock %}

{% block wrapper_start %}
	<div class="l-container {{ layout }}">
{% endblock %}

{% block content %}

    <div class="g-row g-row--no-gutters g-row--col-2--min-full {{ media_position }}">

        <div class="g-col">
            {{ media }}
        </div>

        <div class="g-col g-col--vertical-center">
            <div class="t-content {{ media_spacing }}">
                {{ content_block }}
            </div>
        </div>

    </div>

{% endblock %}