{# Panel: Panel Base #}

{% block panel %}

	{% block start %}
		<section class="panel site-section site-panel site-panel--{{ type|esc_attr }}"
				 data-index="{{ index }}"
				 data-js="panel"
				 data-type="{{ type|esc_attr }}"
				 data-modular-content>
	{% endblock %}

	{% block wrapper_start %}
		<div class="site-section__inner l-wrapper">
	{% endblock %}

	{% block header %}

		{% if title or description %}
			<header class="site-section__header">

				{{ panel.title }}

				{% block description %}
					{% if description %}
						<div class="site-section__desc t-content"
						     data-depth="0"
						     data-name="description"
						     data-autop="true"
						     data-livetext>
							{{ description }}
						</div>
					{% endif %}
				{% endblock %}

			</header>
		{% endif %}

	{% endblock %}

	{% block content %}
		<dl>
			{% for field, value in panel if field != 'title' %}
				<dt>{{ field|esc_html }}</dt>
				<dd>
					<pre>{{ value|print_r }}</pre>
				</dd>
			{% endfor %}
		</dl>
	{% endblock %}

	{% block children %}
		{% if children|length > 0 %}
			<div class="panel-children">
				{% for child in children %}
					{{ child }}
				{% endfor %}
			</div>
		{% endif %}
	{% endblock %}

	{% block wrapper_end %}
		</div>
	{% endblock %}

	{% block end %}
		</section>
	{% endblock %}

{% endblock %}