{{ subheader }}

{% if post.content %}
	<div class="l-container">
		{{ post.featured_image }}

		<div class="t-sink s-sink l-container__stagger-double">
			{{ post.content }}
		</div>
	</div>
{% endif %}

{{ do_action( 'the_panels' ) }}

{{ comments }}
