<section {{ classes }}
				 data-index="{{ index }}"
				 data-js="panel"
				 data-type="{{ type|esc_attr }}"
				 data-modular-content>

	{% if wrapper %}
	<div {{ wrapper_classes }}>
	{% endif %}

		{% if title or description %}
			<header {{ header_classes }}>

				{{ title }}

				{{ description }}

			</header>
		{% endif %}

		{{ content }}

		{% if children|length > 0 %}
			<div class="panel-children">
				{% for child in children %}
					{{ child }}
				{% endfor %}
			</div>
		{% endif %}

	{% if wrapper %}
	</div>
	{% endif %}

</section>
