{% block main %}

	{% block subhead %}
		{{ subheader }}
	{% endblock %}

	{% block content %}
		{% if post.content %}
			<div class="l-container">
				{{ post.featured_image }}

				<div class="t-content">
					{{ post.content }}
				</div>
			</div>
		{% endif %}

		{{ do_action( 'the_panels' ) }}
	{% endblock %}

	{{ comments }}

{% endblock %}

{% block sidebar %}
	{{ sidebar }}
{% endblock %}
