<!DOCTYPE html>
<html {{ language_attributes }}>

	{{ head }}

	<body class="{{ body_class }}">

		{{ do_action( 'tribe/body_opening_tag') }}

		<div class="l-wrapper" data-js="site-wrap">

			{{ masthead }}

			{{ main }}

			{{ sidebar }}

			{{ footer }}

		</div><!-- .l-wrapper -->

		{{ do_action( 'wp_footer' ) }}

	</body>

</html>
