<!DOCTYPE html>
<html {{ language_attributes }}>

	<head>

		{# // TITLE: Handled by WP #}

		{# // MISC Meta #}
		<meta charset="utf-8">
		<meta name="author" content="{{ name|esc_attr }}">
		<link rel="pingback" href="{{ pingback_url|esc_url }}">

		{# // MOBILE META #}
		<meta name="HandheldFriendly" content="True">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{# // PLATFORM META: iOS & Android #}
		<meta name="apple-mobile-web-app-title" content="{{ page_title|esc_attr }}">

		{# // PLATFORM META: IE #}
		<meta name="application-name" content="{{ name|esc_attr }}">

		{{ do_action( 'wp_head' ) }}

	</head>

	<body class="{{ body_class }}">

		{{ do_action( 'tribe/body_opening_tag') }}

		<a href="#a11y-skip-link-content" class="a11y-skip-link a11y-visual-hide">{{ __( 'Skip to main content' )|esc_html }}</a>

		<div class="l-wrapper" data-js="site-wrap">

			{{ masthead }}

			{{ main }}

			{{ sidebar }}

			{{ footer }}

		</div><!-- .l-wrapper -->

		{{ do_action( 'wp_footer' ) }}

	</body>

</html>
